//COLORS
$primarycolor: hsl(179, 62%, 43%);
$secondarycolor: hsl(179, 47%, 52%);
$linkcolor: hsl(71, 73%, 54%);
$darktextcolor: hsl(218, 22%, 67%);
$ligthtextcolor: hsl(202, 13%, 84%);
$headerbackground: hsl(0, 0%, 100%);

//FONTS
$primaryfont: "Karla";
$fontweight: (
  thin: 300,
  regular: 400,
  bold: 700,
);
$fontsize: (
  text: 1.3rem,
  money: 1.8rem,
  title: 2rem,
  subtitle: 1.3rem,
);

//FUNCTIONS
@function weight($weight) {
  @return map-get($fontweight, $weight);
}

@function size($size) {
  @return map-get($fontsize, $size);
}

//MIXINS
@mixin transition-ease {
  transition: all 0.5s ease-in;
}

@mixin flex-center($direction: row) {
  flex-direction: $direction;

  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  @include flex-center(row);
  font-size: size(text);
  font-weight: weight(bold);
  background-color: $linkcolor;
  color: $headerbackground;

  width: 100%;
  height: 4rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
