@import "config";

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: $primary-font, 'sans-serif';
  color: $dark-text;
}

button {
  border: 0;
  background-color: $primary-color;
  cursor: pointer;
}


html{
  font-size: 62.5%; //This allows using rem as a base of 10 number -> 1rem = 10px
  height: 100%;
}


body{
  background-color: $background-color;
  width: 100%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
}

a{
  text-decoration: none;
}