.about {
  @include flex-center;

  width: 100%;
  gap: 3rem;
  padding: 2rem;

  &__img {
    width: 50%;
  }

  &__description {
    @include flex-center(column);

    align-items: start;
    gap: 1rem;
    width: 40%;

    &__title {
      font-size: size(title);
    }

    &__text {
      font-size: size(text);
    }

    &__link {
      @include flex-center;
      @include transition-ease;

      justify-content: start;
      border-bottom: 1px solid transparent;
      gap: 0.5rem;

      &:hover {
        color: $white;
        border-color: $white;
      }
      .icon {
        width: 1.3rem;
      }
    }
  }
}

//MOBILE
@media screen and (max-width: 720px) {
  .about {
    flex-direction: column;
    width: 100%;

    &__img {
      max-width: 50rem;
      width: 100%;
    }

    &__description {
      width: 100%;

      &__title {
        br {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .about {
    flex-direction: column;
    width: 100%;

    &__img {
      max-width: 50rem;
      width: 100%;
    }

    &__description {
      width: 100%;

      &__title {
        font-size: size(mobiletitle) - 0.5rem;
        br {
          display: none;
        }
      }
    }
  }
}
