.features {
  width: 100%;
  max-width: 80rem;
  display: grid;
  grid-template-areas:
    "feature-1 feature-2"
    "feature-3 feature-4";
  justify-content: space-between;
  gap: 0 6rem;
  padding: 2rem;
  position: relative;
  z-index: 2;

  &__details {
    @include flex-center(column);

    max-width: 30rem;
    height: 30rem;
    text-align: center;
    gap: 1rem;
    padding: 0 1rem;

    img {
      width: 8rem;
    }

    &__title {
      font-size: size(details);
    }

    &__text {
      fonst-size: size(small);
    }
  }

  .cross-plataform {
    grid-area: feature-1;
  }

  .security {
    grid-area: feature-2;
  }

  .collaboration {
    grid-area: feature-3;
  }

  .any-file {
    grid-area: feature-4;
  }
}

//MOBILE

@media screen and (max-width: 720px) {
  .features {
    gap: 0;
  }
}

@media screen and (max-width: 620px) {
  .features {
    grid-template-areas:
      "feature-1"
      "feature-2"
      "feature-3"
      "feature-4";

    justify-content: center;
  }
}
