//COLORS
$paleblue:  hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$lightblue: hsl(225, 100%, 98%);
$titlecolor: hsl(223, 47%, 23%);
$textcolor: hsl(224, 23%, 55%);
$mouse-event: hsl(244, 85%, 69%);

//FONTS
$primaryfont: 'Red Hat Display';


//MIXINS
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button-pattern {
  height: 4rem;
  border-radius: 0.8rem;
  text-align: center;
  font-weight: 700;
  border: none;
  font-size: 1rem;
}

@mixin background-contain {
  background-position: center;
  background-size: contain;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}